<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Webpack & Angular</title>
</head>
<body data-ng-controller="appController">
  <p>Angular is working: {{1 + 1 === 2}}</p>
  <p>
    {{demo}}
  </p>
  <myDirective></myDirective>
  <myDirective3></myDirective3>
  <p>^^</p>
  <div>
    <button ng-click="changeLanguage('es_PE')" translate="BUTTON_LANG_DE"></button>
    <button ng-click="changeLanguage('en_US')" translate="BUTTON_LANG_EN"></button>
  </div>
  <h2>{{ 'BUTTON_LANG_EN' | translate }}</h2>
  <h2>{{ 'BUTTON_LANG_DE' | translate }}</h2>

  <ul>
    <li><a href="#/home">home</a></li>
    <li><a href="#/demo">demo</a></li>
    <li><a href="#/404">404</a></li>
  </ul>
  <div class="" ng-view>
  </div>
  <script src="bundle.js"></script>
</body>
</html>
